{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <body>
        <div><a href="/">New Query</a></div>
        <div><a href="/dashboard" >Dashboard</a></div>   
    <hr>
    <h2>Statistics</h2>
    <style>
        h2 {
          text-align: center;
          color:black;
          font-family:'Times New Roman', Times, serif;
          font-weight: bold;
        }
        h5 {
          color:rgb(129, 34, 34);
          font-family: Verdana, Geneva, sans-serif;
          font-weight: bold;
          font-size: 16px;
        }
        .text-dark {
          color:rgb(0, 0, 0);
          font-family: Verdana, Geneva, sans-serif;
          font-size: 14px;
        }
        .doc-title {
          color:rgb(0, 0, 0);
          font-family: Verdana, Geneva, sans-serif;
          font-weight: bold;
          font-size: 14px;
        }
    </style>

    <h5>Users</h5>
    <div class="pb-3">
        {% for user in request_data %}
            <div class="">
                <span class="text-dark"> User with IP <b>{{ user.id }}</b> has done {{ user.count }} requests </span> 
            </div>
    {% endfor %}
    </div>  
    
    <div class="pb-3"></div>

    <h5>Active Sessions</h5>  
    {% for ses in session_data %}
        <div class="pb-3">
            <div class="">
                <span class="text-dark"> {{ses.start}} -> Session has been active for {{ ses.time_elapsed }} minutes. </br> </span>
                <span class="text-dark"> There has been <b>{{ ses.clicks }}</b> clicks in this session. </br></span>
                <span class="text-dark"> The session was established in the browser <b>{{ ses.browser }}</b> with <b>{{ ses.os }}</b> as the operating system. </span>
            </div>
        </div>
    {% endfor %}

    <div class="pb-3"></div>

    <h5>Top-5 Most Searched Queries</h5>  
    <div class="pb-3">
        {% for quer in queries_data %}
            <div class="">
                <span class="text-dark"> Query <b>{{ quer.query }}</b> has been searched {{ quer.count }} times. </span> 
            </div>
    {% endfor %}
    </div>
    

    {% if averages[0] > 0 %}
    <div class="pb-3">
        <div class="">
            <span class="text-dark"> The average number of words for the top5 queries is <b>{{ averages[0] }}</b>. </span>
            <span class='text-dark'>and the average for all queries is <b>{{ averages[1] }}</b>. </span> 
        </div>
    </div>
    {% endif %}

    <div class="pb-3"></div>

    <h5>Clicked Documents</h5>
    {% for doc in clicks_data %}
        <div class="pb-3">
            <div class="doc-title"> ({{ doc.count }} visits) — id: {{ doc.pid }} — {{ doc.title }} </div>
            <span class="text-dark"> {{ doc.description }} </span> <br>
            <span class="text-dark">
                <b>Associated Queries:</b>
                    {% for query, list_docs in docs_for_queries %}
                        {% if doc.pid in list_docs%}
                            {{ query }}
                        {% endif %}
                    {% endfor %}
            </span>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
